/*
 * Footer Styles
 */

.site-footer {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 0;
	background-color: #494949;
	font-family: "Open Sans",sans-serif;
	color: white;

	a {
		color: white;

		&:hover {
			color: #57A3E8;
		}
	}

	p {
		font-size: 16px;
		font-weight: 100;
		margin: 5px;
	}

	@media (max-width: 550px) {
		flex-direction: column;
		-webkit-flex-direction: column;
	}
}

.footer-wrapper {
	flex: 1;
	-webkit-flex: 1;

	.footer-hr {
		margin: 25px;
	}
}

.footer-header {
	font-size: 20px;
	font-weight: 300;
	font-family: 'Open Sans';
}

