/*
 * Styles for the Navigation Bar
 */


/*
 * Annoucnement Bar Section
 */

 .announcement-flex {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
  	justify-content: center;
  	-webkit-justify-content: center;
	padding: 15px;
	list-style-type: none;
	font-size: 16px;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	margin: 0;
	background-color: #273338;

	li {
		text-align: center;
		align-self: stretch;
		-webkit-align-self: stretch;
  		display: flex;
  		display: -webkit-flex;
  		align-content: center;
  		-webkit-align-content: center;
	}
}


.nav-brand-flex {
	margin-right: auto;
	height: 100%;
	display: flex;
	display: -webkit-flex;
	text-decoration: none;
	color: white;

	li {
		align-self: center;
		-webkit-align-self: center;
		display: flex;
		display: -webkit-flex;

		#nav-site-title {
			align-self: center;
			font-size: 2.5rem;
		}
	}

	img {
		height: 40px;
		margin-right: 10px;
	}

	&:hover {
		color: white;
	}

	@media (max-width: 700px) {
		margin: auto;
	} 
}

.nav-action-flex {
	text-align: center;

	a {
		text-decoration: none;
		flex: 1;
		-webkit-flex: 1;
  		align-self: center;
  		-webkit-align-self: center;
  		font-size: 16px;
  		color: white;

		@media (max-width: 760px) {
			font-size: 1.5rem;
		} 
	}

	button {
		background-color: #88a3b0;
		margin: 0 30px;
		border: 0 none;
		border-radius: 4px;
		color: #FFFFFF;
		cursor: pointer;
		padding: 7.5px 20px;
		text-align: center;
		text-decoration: none;

		&:hover {
			background-color: #2f8cde;
		}
	}
}

/*
 * Other Sites Bar
 */

 .other-sites-flex {
 	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
  	justify-content: center;
  	-webkit-justify-content: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	
	list-style-type: none;
	padding: 5px;
	margin: 0;
	background-color: #36464c;

	a {
		height: 100%;
		display: flex;
		display: -webkit-flex;
		text-decoration: none;
		padding: 15px;
		font-size: 16px;
		color: #88a3b0;

		div {
			align-self: center;
			-webkit-align-self: center;
		}

		&:hover {
			color: #e3f2fd;
		}

		img {
			height: 30px;
  			width: 30px;
  			margin-right: 5px;
		}
	}

	@media (max-width: 450px) {
		flex-direction: column;
		-webkit-flex-direciton: column;
	}
}

 /*
  * Current Site's Nav
  */

.main-nav-flex {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
  	justify-content: center;
  	-webkit-justify-content: center;
	list-style-type: none;
	font-size: 16px;
	margin: 0;
	background-color: #494949;

	a {
		padding: 20px;
		text-align: center;
		color: #e3f2fd;
		text-decoration: none;
	}

	@media (max-width: 760px) {
		padding-top: 0;
		flex-wrap: nowrap;
		-webkit-flex-wrap: nowrap;
		flex-direction: column;
		-webkit-flex-direction: column;
	}
}