/*
 * Sidebar Styles
 */

.flex-sidebar {
	min-width: 300px;
	margin-left: 10px;
	margin-right: 5px;

	@media (max-width: 900px) {
  		display: none;
  	}
}

.sidebar-content {
	border: 3px solid #494949;
    padding: 10px;
    margin-top: 10px;
    background-color: #2f8cde;
    border-radius: 15px;
    font-weight: 300;
	font-family: 'Open Sans', sans-serif;

	p {
		margin: 10px 2.5px;
		line-height: 16px;

		a {
			text-decoration: none;
			font-size: 16px;
			color: white;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.sidebar-header {
		padding-bottom: 7px;
		margin-bottom: 5px;
		border-bottom: 1px solid white;
		color: white;
		letter-spacing: .3px;
		text-align: center;

		a {
			text-decoration: none;
		}
	}
}

#sidebar-twitter, #sidebar-facebook {
	width: 13.25em;
	margin: auto;
}

#sidebar-facebook iframe {
	margin: 0;
}

#sidebar-book {
	text-align: center;

	a {
		color: white;
	}

	img {
		max-width: 80%;
		margin-top: 15px;
	}
}

#book-image-container {
    width: 90%;
    margin: auto;
    position: relative;
}

.book-image {
	width: 100%;
}

#book-amazon-image {
    position: absolute;
    left: 0;
    width: 100%;
}