/*
 * Sidebar Styles
 */

.flex-sidebar {
	min-width: 300px;
	margin-left: 10px;
	margin-right: 5px;

	@media (max-width: 900px) {
  		display: none;
  	}
}

.sidebar-content {
	border: 3px solid #494949;
    padding: 10px;
    margin-top: 10px;
    background-color: #2f8cde;
    border-radius: 15px;
    font-weight: 300;
	font-family: 'Open Sans', sans-serif;

	p {
		margin: 10px 2.5px;
		line-height: 16px;

		a {
			text-decoration: none;
			font-size: 16px;
			color: white;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.sidebar-header {
		padding-bottom: 7px;
		margin-bottom: 5px;
		border-bottom: 1px solid white;
		color: white;
		letter-spacing: .3px;
		text-align: center;

		a {
			text-decoration: none;
		}
	}
}

#sidebar-twitter, #sidebar-facebook {
	width: 13.25em;
	margin: auto;
}

#sidebar-facebook iframe {
	margin: 0;
}

#sidebar-book {
	text-align: center;

	a {
		color: white;
	}

	img {
		max-width: 80%;
		margin-top: 15px;
	}
}

#book-image-container {
    width: 90%;
    margin: auto;
    position: relative;
}

.book-image {
	width: 100%;
}

#book-amazon-image {
    position: absolute;
    left: 0;
    width: 100%;
}

/*
 * Style for email Optins
 */

.large-button {
	width: 100%;
	display: inline-block;
	padding: .75em;
	font-size: 18px;
	background-color: #2f8cde;
	border-radius: 15px;
	text-align: center;
	color: white;
	border: 3px solid #494949;
}

.large-button:hover {
	color: white;
}

#optin {
	border: 3px solid #494949;
	text-align: center;
	background-color: #2f8cde;
	border-radius: 15px;
	margin-bottom: 10px;
}
#optin input {
	border: 1px solid #111;
	font-size: 15px;
	margin-bottom: 10px;
	padding: 8px 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 2px 2px #111;
	-moz-box-shadow: 0 2px 2px #111;
	-webkit-box-shadow: 0 2px 2px #111
}
#optin input.email { 
	background: #fff url(/assets/images/email.png) no-repeat 10px center; 
	padding-left: 35px; 
	width:80%;
}
#optin input.name { 
	background: #fff url(/assets/images/name.png) no-repeat 10px center; 
	padding-left: 35px; 
	width:80%;
}
#optin button[type="submit"] {
	background: #494949;
	border: 1px solid #111;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	padding: 8px 0;
	text-shadow: -1px -1px #3a060a;
	width: 90%
}
#optin h4 {
	color: white;
	font-family: "Open Sans",sans-serif;
}
.optin-text {
	color: white;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	line-height: 14px;
	margin-bottom: 10px;
}

#mc-embedded-subscribe {
	margin-left: 0;
	margin-right: 0;
}