<footer class="site-footer">
    <div class="footer-wrapper">
        <h4 class="footer-header"><a href="/resources">Resource Page</a></h4>
        <hr class="footer-hr">
        <div class="footer-info">
            <p>Check out our resource page for a list of all the resources we use to make the How to Ghost network possible.</p>
        </div>
    </div>
    <div class="footer-wrapper">
        <a href="/about"><h4 class="footer-header">About Us</h4></a>
        <hr class="footer-hr">
        <div class="footer-info">
            <p>Find out how the How to Ghost network was created and learn about our background with Ghost.</p>   
        </div>             
    </div>
    <div class="footer-wrapper">
        <h4 class="footer-header">Our Other Sites</h4>
        <hr class="footer-hr">
        <div class="footer-info">
            <p id="footer-gfb"><a href="https://ghostforbeginners.com">Ghost for Beginners</a></p>
            <p id="footer-ht"><a href="https://howtoinstallghost.com">How to Install Ghost</a></p>
            <p id="footer-aa"><a href="https://allaboutghost.com">All About Ghost</a></p>
            <p id="footer-agt"><a href="https://allghostthemes.com">All Ghost Themes</a></p> 
        </div>             
    </div>
    <div class="footer-wrapper">
        <h4 class="footer-header"><a href="https://howtoghost.com/contact-us">Contact Us</a></h4>
        <hr class="footer-hr">
        <div class="footer-info">
            <p>Twitter: <a href="http://twitter.com/howtoghost">@howtoghost</a></p>
            <p>Email: info@howtoinstallghost.com</p>
        </div>
    </div>
    <br style="clear:both">
</footer>