<div id="nav-announcement">
    <ul class="announcement-flex">
        <a  class="nav-brand-flex" href={{@blog.url}}>
            <li>
                <img src="/global-resources/icons/how-to-ghost_brand.png" \>
                <div id="nav-site-title">{{@blog.title}}</div>
            </li>
        </a>
        <li class="nav-action-flex">
            <a href="https://ghostforbeginners.com/ebook">Get the first 2 sections of our eBook for free! <button id="announcement-subscribe">More Info</button> </a>
        </li>
    </ul>
</div>

<div id="other-sites-nav">
    <div class="other-sites-flex">
        <a href="https://www.ghostforbeginners.com">
            <img src="/global-resources/icons/ghost-for-beginners_logo.svg"/>
            <div class="other-nav-link gfb-nav">Ghost for Beginners</div>
        </a>
        <a href="https://www.allaboutghost.com">
            <img src="/global-resources/icons/all-about-ghost_logo.svg"/>
            <div class="other-nav-link aa-nav">All About Ghost</div>
        </a>
        <a href="https://www.allghostthemes.com">
            <img src="/global-resources/icons/all-ghost-themes_logo.svg"/>
            <div class="other-nav-link agt-nav">All Ghost Themes</div>
        </a>
        <a href="https://www.howtoinstallghost.com">
            <img src="/global-resources/icons/how-to-install-ghost_logo.svg"/>
            <div class="other-nav-link ht-nav">How to Install Ghost</div>
        </a>
    </div>
</div>

<div id="main-nav">
    <div class="main-nav-flex">
        {{#foreach navigation}}
            <a href="{{url absolute="true"}}">
                <div class="nav-link">{{label}}</div>
            </a>
        {{/foreach}}
    </div>
</div>