<div id="sidebar" class="flex-sidebar">

    <div id="sidebar-book" class="sidebar-content">
        <h4 class="sidebar-header"><a href="https://www.ghostforbeginners.com/ebook">Ghost for Beginners eBook</a></h4>
        <div id="book-image-container">
            <a id="book-backup-image" class="book-image" href="https://www.ghostforbeginners.com/ebook"><img src="{{asset "images/howtoghost_2.jpg"}}" /></a>
        </div>
    </div>
    <div id="sidebar-twitter">
        <a class="twitter-follow-button"
          href="https://twitter.com/howtoghost"
          data-show-count="true"
          data-lang="en">
        Follow @howtoghost
        </a>
        <script type="text/javascript">
        window.twttr = (function (d, s, id) {
          var t, js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src= "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
          return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
        }(document, "script", "twitter-wjs"));
        </script> 
    </div>
    
    <div id="sidebar-facebook">
        <div class="fb-follow" data-href="https://www.facebook.com/howtoghost" data-colorscheme="dark" data-layout="standard" data-show-faces="true"></div>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    </div>
    
    <form action="http://abdb.createsend.com/t/i/s/tdykut/" method="post" id="optin" class="sidebar-content">
        <h5 class="sidebar-header">Free eBook Preview</h5>
        <div class="optin-text">Get the first two sections of our Ghost eBook for free!</div>
        <p>
            <input id="fieldName" name="cm-name" class="name" type="text" placeholder="Enter your name" />
        </p>
        <p>
            <input id="fieldEmail" name="cm-tdykut-tdykut" class="email" type="email" placeholder="Enter your email" required />
        </p>
        <p>
            <button type="submit">Subscribe</button>
        </p>
    </form>
    
    {{!-- <a class="large-button" href="http://www.allaboutghost.com/2014-income-and-statistics-report/">2014 Income Report</a> --}}
</div>