<div id="sidebar" class="flex-sidebar">

    <div id="sidebar-book" class="sidebar-content">
        <h4 class="sidebar-header"><a href="https://www.amazon.com/gp/product/1783985186">Our Ghost Book!</a></h4>
        <div id="book-image-container">
            <a id="book-backup-image" class="book-image" href="https://www.amazon.com/gp/product/1783985186"><img src="{{asset "images/Getting_Started_with_Ghost.jpg"}}" /></a>
            <a id="book-amazon-image" class="book-image" href="https://www.amazon.com/gp/product/1783985186/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1783985186&linkCode=as2&tag=ghoforbeg-20&linkId=4ZM3K7MLVAS32FEO"><img border="0" src="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1783985186&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=ghoforbeg-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=ghoforbeg-20&l=as2&o=1&a=1783985186" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </div>
    </div>
    <div id="sidebar-twitter">
        <a class="twitter-follow-button"
          href="https://twitter.com/howtoghost"
          data-show-count="true"
          data-lang="en">
        Follow @howtoghost
        </a>
        <script type="text/javascript">
        window.twttr = (function (d, s, id) {
          var t, js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src= "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
          return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
        }(document, "script", "twitter-wjs"));
        </script> 
    </div>
    
    <div id="sidebar-facebook">
        <div class="fb-follow" data-href="https://www.facebook.com/howtoghost" data-colorscheme="dark" data-layout="standard" data-show-faces="true"></div>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    </div>
    
    <div id="optin" class="sidebar-content">
        <form action="http://abdb.createsend.com/t/i/s/tdykut/" method="post" id="optin" class="sidebar-content">
          <h4 class="sidebar-header">Ghost for Beginners eBook</h4>
          <div class="optin-text">Get the first two sections of our Ghost eBook for free!</div>
          <p>
              <input id="fieldName" name="cm-name" class="name" type="text" placeholder="Enter your name" />
          </p>
          <p>
              <input id="fieldEmail" name="cm-tdykut-tdykut" class="email" type="email" placeholder="Enter your email" required />
          </p>
          <p>
              <button type="submit">Subscribe</button>
          </p>
      </form>
    </div>
    
    {{!-- <a class="large-button" href="http://www.allaboutghost.com/2014-income-and-statistics-report/">2014 Income Report</a> --}}
</div>